
            <div class="table-responsive-lg">
                <table class="table table-bordered">
                    <tr>
                        <th scope="col" colspan="4">Archer: {{scorecard.archer}}</th>
                        <th scope="col" colspan="5">Date: {{scorecard.date | date:'dd/MM/yyyy'}}</th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="4">Round: {{scorecard.round}}</th>
                        <th scope="col" colspan="5">Bow: {{scorecard.bowType}}</th>
                    </tr>
                    <tr>
                        <th class="table-secondary" scope="col">&nbsp;</th>
                        <th scope="col">ET</th>
                        <th class="table-secondary" scope="col">&nbsp;</th>
                        <th scope="col">ET</th>
                        <th scope="col">H</th>
                        <th scope="col">S</th>
                        <th scope="col">G</th>
                        <th scope="col">Xs</th>
                        <th scope="col">RT</th>
                    </tr>
                    <ng-container *ngFor="let distanceTotal of scorecard.distanceTotals">
                        <tr *ngFor="let dozen of distanceTotal.dozens">
                            <td nowrap>
                                <app-scorebadge *ngFor="let score of dozen.ends[0].scores" [score]="score">
                                </app-scorebadge>
                            </td>
                            <td>{{dozen.ends[0].endTotal}}</td>
                            <td nowrap>
                                <app-scorebadge *ngFor="let score of dozen.ends[1].scores" [score]="score">
                                </app-scorebadge>
                            </td>
                            <td>{{dozen.ends[1].endTotal}}</td>
                            <td>{{dozen.hits}}</td>
                            <td>{{dozen.score}}</td>
                            <td>{{dozen.golds}}</td>
                            <td>{{dozen.xes}}</td>
                            <td>{{dozen.runningTotal}}</td>
                        </tr>
                        <tr>
                            <th class="table-warning" scope="row" colspan="4">Distance Totals for {{
                                distanceTotal.distance.displayString }}</th>
                            <td class="table-warning">{{distanceTotal.hits}}</td>
                            <td class="table-warning">{{distanceTotal.score}}</td>
                            <td class="table-warning">{{distanceTotal.golds}}</td>
                            <td class="table-warning">{{distanceTotal.xes}}</td>
                            <td class="table-secondary">&nbsp;</td>
                        </tr>
                    </ng-container>
                    <tr>
                        <th scope="row" colspan="4">Round Totals</th>
                        <td class="table-primary">{{scorecard.hits}}</td>
                        <td class="table-primary">{{scorecard.score}}</td>
                        <td class="table-primary">{{scorecard.golds}}</td>
                        <td class="table-primary">{{scorecard.xes}}</td>
                        <td class="table-secondary">&nbsp;</td>
                    </tr>
                </table>
            </div>
