
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand bg-dark navbar-dark" [ngClass]="{'fixed-bottom': isMobilePortrait}">
        <a class="navbar-brand" routerLink="">Bow Buddy</a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item " routerLinkActive="active">
                    <a routerLink="rounds" class="nav-link">Rounds</a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a routerLink="scorecards" class="nav-link">Scorecards</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="body-content" [ngClass]="{'padded-bottom': isMobilePortrait, 'padded-top': !isMobilePortrait}">
        <router-outlet></router-outlet>
    </div>
</div>


<!--
    <div class="container-fluid body-content">
        <router-outlet></router-outlet>
    </div>
<div class="footerfix"></div>
-->