<div class="container-fluid">
    <nav class="navbar fixed-bottom navbar-expand bg-dark navbar-dark" [ngClass]="{'fixed-bottom': isMobilePortrait}">
        <a class="navbar-brand" routerLink="">Bow Buddy</a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item " routerLinkActive="active">
                    <a routerLink="rounds" class="nav-link">Rounds</a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a routerLink="scorecards" class="nav-link">Scorecards</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="pb-5 mb-5">
        <router-outlet></router-outlet>
    </div>
</div>