.archery-circle-gold {
    background: #ffff83;
}

.archery-circle-red {
    background: #ffb3ba;
}

.archery-circle-blue {
    background: #bae1ff;
    color: #000;
}

.archery-circle-black {
    background: #000;
    color: #fff;
}

.archery-circle-white {
    background: #FFF;
    color: #000;
}

.archery-circle-miss {
    background: #baffc9;
}

.archery-circle-unknown {
    background: #FF69B4;
}

.archery-circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: small;
}
