<div class="container-fluid">
    <div class="row">
        <div class="py-2 mx-auto text-center">
            <h1 class="mb-3">Archery rounds</h1>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-4 col-lg-1" *ngFor="let round of rounds">
            <div class="mx-1 my-1 px-0 py-1 my-1 card" (click)="showDetails(round)">
                <div class="mx-0 px-0 my-0 py-0 card-body text-center">
                    <h6 class="card-title">{{round.name}}</h6>
                    <p class="card-text">{{round.venue}}</p>
                    <p class="card-text">{{round.scoringType}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{width}} x {{height}}

